<div>
    Medica Diagnostic & Information Centre is a chain of healthcare centres across eastern India,
     launched with the purpose of increasing accessibility to quality diagnostic facilities.
      Located within easy reach in localities spread across the region, 
      the units serve as collection centres tied to Medica’s state of the art lab facilities housed within the 
      Medica Hospital units. The centres also provide help in obtaining appointments with renowned specialists at Medica,
     apart from organizing local consultations on specific days.</div>
