.first{
    background-image: url("https://images.pexels.com/photos/2280551/pexels-photo-2280551.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    height: 800px;
    width: 100%;
    padding-top: 50px;
}

h4{
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    color:  rgb(184, 112, 124);
}

label{
    font-size: 25px ;
    font-weight: 500;
    font-style: oblique;
}

button {
    font-size: 20px;
}
input{
    font-weight: 20px;
}
